h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: white;
}

h3 {
    font-size: 1.2rem;
    padding-left: 2rem;
}

.listAct {
    border-radius: 5px;
    background-color: #252525;
    margin-top: 1rem;
    /* Ajusta según sea necesario */
}

.listAct ul {
    list-style: none;
    padding: 0;
}

.listAct li {
    padding: 10px;
    color: white;
    border-bottom: 1px solid #e5e5e5;
}

.listAct li:last-child {
    border-bottom: none;
}

.create-room {
    text-align: right;
    margin-top: 20px;
}

.create-room-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    margin-right: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-room-btn:hover {
    background-color: #218838;
}
