<div class="container mt-5">
    <div class="row mt-8 justify-content-center align-items-center">
        <div class="col-lg-6 text-center">
            <h1 class="display-4">Q & A</h1>
            <p class="lead">¡Demuestra tu conocimiento en este emocionante juego de preguntas y respuestas!</p>
            <button class="btn btn-secondary" (click)="goBack()">Volver Atrás</button>
            <button class="btn btn-primary btn-lg" (click)="startGame()">Empezar a jugar</button>
            <a routerLink="/list-trivia" class="btn btn-link">Ajustes</a>
        </div>
    </div>
</div>
