.fas {
    cursor: pointer;
    margin-left: 7px;
}

.custom-table {
    border: 1px solid #131313;
    border-radius: 10px;
    overflow: hidden;
}

.table-header {
    background-color: #f8f9fa;
}

.table-body {
    background-color: #343a40;
}

.table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #131313;
    padding: 10px;
    background-color: #252525;
}

.table-header {
    background-color: #353535;
    border-bottom: 1px solid #131313;
}

.table-cell {
    flex: 1;
    padding: 10px;
}

.actions {
    text-align: right;
}

.icon-rojo {
    color: red;
}
