<!-- <div>
    <ul class="menu">
        <li class="menu-item"><a routerLink="/player-join" class="menu-link">player-join</a></li>
        <li class="menu-item"><a routerLink="/player-wait" class="menu-link">player-wait</a></li>
        <li class="menu-item"><a routerLink="/player-activity" class="menu-link">player-activity</a></li>
        <li class="menu-item"><a routerLink="/list-activities" class="menu-link">list-activities</a></li>
        <li class="menu-item"><a routerLink="/create-activity" class="menu-link">create-activity</a></li>
        <li class="menu-item"><a routerLink="/create-question" class="menu-link">create-question</a></li>
        <li class="menu-item"><a routerLink="/trivia-game" class="menu-link">trivia-game</a></li>
        <li class="menu-item"><a routerLink="/etc" class="menu-link">etc</a></li>
    </ul>
</div> -->

<div>
    <div class="py-4 px-3 mb-4 bg-light">
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="m-0">Lista de Componentes</h4>
        </li>
        <li class="list-group-item">

            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="menu-item"><a routerLink="/player-join" class="menu-link">player-join</a></li>
                <li class="menu-item"><a routerLink="/player-wait" class="menu-link">player-wait</a></li>
                <li class="menu-item"><a routerLink="/player-room/1234" class="menu-link">/player-room/1234</a></li>
                <li class="menu-item"><a routerLink="/player-activity" class="menu-link">player-activity</a></li>
                <li class="menu-item"><a routerLink="/list-activities" class="menu-link">list-activities</a></li>
                <li class="menu-item"><a routerLink="/create-activity" class="menu-link">create-activity</a></li>
                <li class="menu-item"><a routerLink="/create-question" class="menu-link">create-question</a></li>
                <li class="menu-item"><a routerLink="/trivia-game" class="menu-link">trivia-game</a></li>
                <li class="menu-item"><a routerLink="/new-room" class="menu-link">new room</a></li>
                <li class="menu-item"><a routerLink="/etc" class="menu-link">etc</a></li>
              </ul>
            </div>

        </li>
      </ul>
    </div>
  </div>