<div>
    <ul class="menu">
        <li class="menu-item"><a routerLink="/player-join" class="menu-link">player-join</a></li>
        <li class="menu-item"><a routerLink="/player-wait" class="menu-link">player-wait</a></li>
        <li class="menu-item"><a routerLink="/list-activities" class="menu-link">list-activities</a></li>
        <li class="menu-item"><a routerLink="/create-activity" class="menu-link">create-activity</a></li>
        <li class="menu-item"><a routerLink="/create-question" class="menu-link">create-question</a></li>
        <li class="menu-item"><a routerLink="/trivia-game" class="menu-link">trivia-game</a></li>
        <li class="menu-item"><a routerLink="/etc" class="menu-link">etc</a></li>
    </ul>
</div>
<!-- <div class="cont">
    <img src="../../../assets/images/bem-vindo.jpg" alt="Waiting Room" class="img-center">
</div> -->