<!-- //=start============================= Codigo Temporal=================================== -->
<div class="container bg-primary-subtle">
    <div class="row">
        <nav>
            <div data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <span>_</span>
            </div>

        </nav>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body">
                <app-bem-vindo></app-bem-vindo>
            </div>
        </div>
    </div>
</div>
<!-- //=end============================== Codigo Temporal=================================== -->


<router-outlet></router-outlet>