<div class="conteiner">
    <div class="row align-items-start">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="custom-table mt-5">
                <div class="table-header">
                    <div class="table-cell">Actividad</div>
                </div>
                <ng-container *ngIf="!isLoading">
                    <div *ngIf="noQuestionFound">
                        <h5 class="no-products-message">No hay productos para mostrar</h5>
                    </div>
                    <!-- timer_2 -->
                    <div class="stopwatch">
                        <span *ngIf="totalMilliseconds > 0">{{ minutes| number:'2.0-0'}}:</span>
                        <span *ngIf="totalMilliseconds > 0">{{ seconds| number:'2.0-0'}}</span>
                        <!-- <span *ngIf="totalMilliseconds > 0">{{ milliseconds }}</span> -->
                        <span *ngIf="totalMilliseconds <= 0">0:00</span>
                    </div>
                    <!-- <button (click)="startStopwatch()">Start</button> -->
                    <!-- timer_2 -->
                    <ng-template [ngIf]="timer_running">
                        <app-questions-for-game [question]="question"></app-questions-for-game>
                        <div class="thickLine">
                            <app-player-vote [question_id]="question_id" [room_id]="room_id"
                                [nextQuestion]="nextQuestion" (votado)="voteEvent($event)"></app-player-vote>
                        </div>
                        <button type="button" class="btn btn-info" [disabled]="!bottonSiguiente || !votedQuestion"
                            (click)="updateQuestion()">{{bottonText}}</button>
                    </ng-template>
                    <ng-template [ngIf]="!timer_running">
                        <div class="text-center mt-5">
                            <img src="../../../assets/images/logo.png" alt="Logo de la aplicación" width="150">
                            <h1>Muchas gracias por su participación!</h1>
                            <p>¡Le esperamos pronto!</p>

                            <!-- Botones de acción -->
                            <div class="mt-3">
                                <a routerLink="/player-join" class="btn btn-primary mx-2">Unirse a otra partida</a>
                                <a routerLink="/inicio" class="btn btn-success mx-2">Volver al inicio</a>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row align-items-start m-3">
        <div class="col-5"></div>
        <div class="col-2">

        </div>
        <div class="col-5"></div>
    </div>
</div>