<div class="conteiner">
    <div class="row align-items-start">
        <div class="col-9">
            <app-trivia-game></app-trivia-game>
        </div>
        <div class="col-3">
            <app-player-timer></app-player-timer>
        </div>
    </div>
    <div class="row align-items-start m-3">
        <div class="col-5"></div>
        <div class="col-2">
            <button type="button" class="btn btn-info">Siguiente Actividad</button>
        </div>
        <div class="col-5"></div>
    </div>
</div>
<div class="thickLine">
    <app-player-vote></app-player-vote>
</div>